:root{
    font-size: 16px;
}



// colors
$Primary: #1972e5;
$Secondary: #1e8b3f;
$Alt: #852dcb;
$text: #858585;
$Light: #f8f8f8;
$Black: #000000;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    font-family: 'Inter', serif;
    position: relative;
    height: 100vh;
}

@mixin flexCentered(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin rflexVCentered(){
    display: flex;
    align-items: center;
}

@mixin rflexHCentered(){
    display: flex;
    justify-content: center;
}

main{
    overflow-y: scroll;

    .fixed-header{
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
        @include flexCentered();
        border: unset;
        padding: 0.5rem;

        position: fixed;
        top: 0.8rem;
        right: 0.8rem;
        left: 0.8rem;
        z-index: 99;

        *{
            color: $text;
        }

        p{
            flex: 1;
            padding: 0 1rem;
        }

        .rounded-dp{
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            @include flexCentered();
            overflow: hidden;

            img{
                height: 2rem;
            }
        }
    }

    .main-body{
        position: relative;
        z-index: 1;
        margin: 3rem 0rem;

        > p{
            color: $text;
            padding: 0.8rem;
        }

        .grouped-mails{
            // border: 1px solid blue;
            border-radius: 0.5rem;
            @include flexCentered();
            padding: 0.8rem 0.8rem;

            &:hover{
                background-color: $Light;
                transition: 0.8s ease;
            }

            &:nth-child(2){
                span{
                    color: $Primary;
                }

                .grouped-mails{
                    &-pill{
                        background-color: $Primary;
                    }
                }
                
            }            
            
            &:nth-child(3){
                span{
                    color: $Secondary;
                }

                .grouped-mails{
                    &-pill{
                        background-color: $Secondary;
                    }
                }
                
            }
            
            &:nth-child(4){
                span{
                    color: $Alt;
                }

                .grouped-mails{
                    &-pill{
                        background-color: $Alt;
                    }
                }

            }


            &-body{
                flex: 1;
                padding: 0 1.5rem;
                min-width: 0px;

                &__content{
                    color: $text;
                }
            }

            &-pill{
                border-radius: 50rem;
                color: $Light;
                font-size: 0.8rem;
                padding: 0.2rem 0.5rem;
            }
        }

        .mail{

            @include flexCentered();
            padding: 0.8rem 0.8rem;

            &:hover{
                background-color: $Light;
                transition: 0.8s ease;
            }

            &-dp{

                height: 2.2rem;
                width: 2.2rem;
                margin-right: 0.8rem;
                border-radius: 50%;
                overflow: hidden;
                @include flexCentered();
                align-self: flex-start;
                img{
                    height: 4rem;
                }

                p{
                    font-weight: 500;
                    font-size: 1.5rem;
                    color: $Light;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    @include flexCentered();
                    background-color: $Secondary;
                }
            }

            &-body{
                flex: 1;
                color: $text;
                min-width: 0px;

                &__title{
                    @include rflexVCentered();
                    color: $text;
                    p{
                        flex: 1;
                    }
                    
                    span{
                        @include rflexVCentered();
                        font-size: 0.8rem;
                    }
                }

                &__content{
                    @include rflexVCentered();
                    &-start{
                        flex: 1;
                        padding-right: 2rem;
                        min-width: 0px;
                    }

                    &-end{

                    }
                }
            }
        }
    }
}

.uppercase{
    text-transform: uppercase;
}

.unread{
    color: $Black;
    font-weight: 700;
}

p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
